* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.main-img {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 750px;
    position: relative;
    z-index: 1;
    overflow-x: scroll;
}

.nav {
    position: relative;
    /* This ensures that child elements are positioned relative to the .nav container. */
}

.logo-img {
    text-align: center;
    position: absolute;
    top: 3%;
    left: 45%;
    transform: translateX(-48%);
    z-index: 2;
}

.logo-text {
    text-align: center;
    position: absolute;
    top: 3.5%;
    left: 50.7%;
    transform: translateX(-50%);
    z-index: 2;
}

.nav .sign-in {
    position: absolute;
    top: 3%;
    left: 92.5%;
    transform: translateX(-90%);
    z-index: 2;
}


.nav .sign-up {
    position: absolute;
    top: 3%;
    left: 98%;
    transform: translateX(-99%);
    z-index: 3;
}

.nav .sign-in button {
    width: 90px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #EB1700;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.nav .sign-up button {
    width: 90px;
    height: 40px;
    border-radius: 24px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: rgb(73, 73, 73);
}

.heading {
    position: absolute;
    font-size: 36px;
    letter-spacing: 1px;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: #fff;
}

.icon {
    position: absolute;
    top: 48.7%;
    left: 41%;
    transform: translateX(-40%);
    z-index: 4;
}

.inputAddress {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: #fff;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.Icon2 {
    position: absolute;
    top: 48.5%;
    left: 58.9%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: #fff;
    border-radius: 30px;
    border: none;
}

.favourites {
    display: inline;
    position: relative;
    top: -70px;
    left: 15%;
}

.favourites {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.eleven {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.restaurant-Image {
    border-radius: 10px;
}

.title {
    font-weight: bold;
}

.waitTime {
    color: #888;
}